body {
	width: 400px;
}

button {
	outline: none;
	margin: 1%;
	padding: 10px;
	border: none;
	border-radius: 2px;
	width: 47%;
	transition: 0.5s;
	font-weight: bold;
}

button:hover {
	background-color: #cccccc;
}

.bnt {
	box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.title {
	margin: 5px 10px;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
}

.class-container {
	max-height: 200px;
	overflow: auto;
	margin: 5px 5px;
	border: 1px solid #aaaaaa;
}

.class-item-container {
	margin: 5px 5px;
	padding: 0px 5px;
}

p {
	font-size: 14px;
}

a {
	color: blue;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}
